<header class="site-header">
	<nav class="navbar">
		<a href="/" class="navbar-brand">
			<img src="/assets/logo.png" alt="LATE" class="navbar-logo">
		</a>
		<ul class="navbar-nav">
			<li><a href="/">Dashboard</a></li>
			<li><a href="/recados">Recados</a></li>
			<li><a href="/novo-recado">Novo Recado</a></li>
			<li><a href="/relatorios">Relatórios</a></li>
		</ul>
	</nav>
</header>
