  <footer class="text-center mt-4 mb-4">
    <small>&copy; <%= new Date().getFullYear() %> LATE <%= appVersion %></small>
  </footer>
  <script src="/js/bootstrap.bundle.min.js" defer></script>
  <script src="/js/chart.umd.js" defer></script>
  <script src="/js/api.js" defer></script>
  <script src="/js/toast.js" defer></script>
  <script src="/js/utils.js" defer></script>
  <script src="/js/password-toggle.js" defer></script>
  <script src="/js/app.js" defer></script>
  <script src="/js/navbar.js" defer></script>
  <% if (typeof scripts !== 'undefined') { scripts.forEach(function(src){ %>
    <script src="<%= src %>" defer></script>
  <% }); } %>
</body>
</html>
